<app-header></app-header>
<div class="container bg-white mt-3">
  <router-outlet></router-outlet>
</div>
<div class="attribution pt-2 text-center">
  Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp" target="_blank">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
</div>
