<div class="row pt-2">
  <div class="col">
    <h4>Fruits</h4>
  </div>
  <div class="col text-end">
    <button type="button" class="btn btn-sm btn-success" (click)="openCreateFruitModal()">
      Add
    </button>
  </div>
</div>
<div [ngBusy]="promiseList">
  <div class="row">
    <div class="col">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Main color</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fruit of fruits" class="clickable" (click)="openFruitDetail(fruit.id)">
            <td>{{fruit.name}}</td>
            <td>{{fruit.size}}</td>
            <td>{{fruit.main_color}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="total == 0" class="pb-3 text-center">
    There are no fruits
  </div>
  <div *ngIf="total > 0" class="d-flex justify-content-center">
    <ngb-pagination [collectionSize]="total" [rotate]="true" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" (pageChange)="pageChanged()">
      <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
    </ngb-pagination>
  </div>
</div>
