<div [ngBusy]="promiseList">
  <div class="row pt-2">
    <div class="col-5">
      <h4>{{fruit.name}}</h4>
    </div>
    <div class="col-7 text-end">
      <button type="button" class="btn btn-sm btn-secondary" (click)="returnToList()">Back</button>
      <button type="button" class="ms-2 btn btn-sm btn-danger" (click)="deleteFruit()">Delete</button>
      <button type="button" class="ms-2 btn btn-sm btn-warning" (click)="openUpdateFruitModal()">Update</button>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-4 col-md-2">
      <label class="fw-bold">Name:</label>
    </div>
    <div class="col-8 col-md-10">
      <label>{{fruit.name}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-md-2">
      <label class="fw-bold">Size:</label>
    </div>
    <div class="col-8 col-md-10">
      <label>{{fruit.size}}</label>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-4 col-md-2">
      <label class="fw-bold">Main color:</label>
    </div>
    <div class="col-8 col-md-10">
      <label>{{fruit.main_color}}</label>
    </div>
  </div>
</div>
