<div class="modal-header {{titleClass}}">
  <h5 class="modal-title">{{title}}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="ngbActiveModal.dismiss()"></button>
</div>
<div class="modal-body">
  <span [innerHTML]="message"></span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" [hidden]="prompt" (click)="ngbActiveModal.dismiss()">Close</button>
	<button type="button" class="btn btn-secondary" [hidden]="!prompt" (click)="ngbActiveModal.dismiss()">No</button>
	<button type="button" class="btn btn-success" [hidden]="!prompt" (click)="ngbActiveModal.close()">Yes</button>
</div>
