<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="ngbActiveModal.dismiss()"></button>
</div>
<div class="modal-body">
  <form #fruitForm="ngForm" role="form">
    <div class="row mb-3">
      <label for="name" class="col-4 col-md-3 col-form-label fw-bold">
        <span>Name</span>
        <span class="ps-1 text-danger">*</span>
      </label>
      <div class="col-8 col-md-9">
        <input id="name" type="text" class="form-control" name="name" [(ngModel)]="fruit.name" required="true">
      </div>
    </div>
    <div class="row mb-3">
      <label for="size" class="col-4 col-md-3 col-form-label fw-bold">
        <span>Size</span>
        <span class="ps-1 text-danger">*</span>
      </label>
      <div class="col-8 col-md-9">
        <ng-select id="size" name="size" [(ngModel)]="fruit.size" [items]="sizes" bindValue="id" bindLabel="text" [ngModelOptions]="{standalone: true}" required="true"></ng-select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="main-color" class="col-4 col-md-3 col-form-label fw-bold">Main color</label>
      <div class="col-8 col-md-9">
        <input id="main-color" type="text" class="form-control" name="main-color" [(ngModel)]="fruit.main_color">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-secondary" (click)="dismiss()"><span>Cancel</span></button>
  <button *ngIf="!isEdit" class="btn btn-sm btn-success" (click)="create()" [disabled]="fruitForm.invalid || !fruit.size">Create</button>
  <button *ngIf="isEdit" class="btn btn-sm btn-success" (click)="update()" [disabled]="fruitForm.invalid || !fruit.size">Update</button>
</div>
