/* BOOTSTRAP */
@import "~bootstrap/dist/css/bootstrap.css";
/* NG SELECT */
@import "~@ng-select/ng-select/themes/default.theme.css";

a,
a:hover,
a:focus,
a:visited {
  color: #198754;
}

.attribution {
  font-size: 12px;
}

.clickable {
  cursor: pointer;
}

.page-link,
.page-link:hover,
.page-link:focus {
  color: #198754;
  box-shadow: none;
}

.page-item.active .page-link {
  background-color: #198754;
  border-color: #198754;
}
