<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/fruits" [queryParams]="{page: 1}">
      <img class="pe-2" src="/assets/img/logo.png">
      <span>FruitsApp</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white active" routerLink="/fruits" [queryParams]="{page: 1}">Fruits</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
